<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.client.dao.ClientDao">
    <!--统计用户账户数量-->
    <select id="countUserAccount" parameterType="com.xzsd.app.client.entity.RegisterInfo" resultType="int">
        select count(user_account)
        from t_sys_user
        where user_account=#{userAccount}
        and is_deleted=0
    </select>
    <!--统计手机号数量-->
    <select id="countUserPhone" parameterType="com.xzsd.app.client.entity.RegisterInfo" resultType="int">
        select count(phone)
        from t_sys_user
        where phone=#{phone}
        and is_deleted=0
    </select>
<!--    统计门店邀请码-->
    <select id="countInciteCode" parameterType="com.xzsd.app.client.entity.RegisterInfo" resultType="int">
        select count(invite_code)
        from t_sys_store
        where invite_code=#{storeInviteCode}
        and is_deleted=0
    </select>
<!--    注册用户-->
    <insert id="register" parameterType="com.xzsd.app.client.entity.RegisterInfo">
        insert into t_sys_user
        (
            user_code,
            user_account,
            user_name,
            user_pwd,
            id_card,
            sex,
            phone,
            email,
            role,
            user_image,
            is_deleted,
            create_people,
            create_time,
            update_people,
            update_time,
            version
        )values
        (
            #{userId},
            #{userAccount},
            #{userName},
            #{userPassword},
            #{idCard},
            #{userSex},
            #{phone},
            #{email},
            3,
            #{userPhoto},
            0,
            #{createPeople},
            now(),
            #{updatePeople},
            now(),
            0
        )
    </insert>
    <insert id="register2" parameterType="com.xzsd.app.client.entity.RegisterInfo">
        insert into t_sys_client
        (
            client_id,
            user_id,
            invite_code,
            is_deleted,
            create_people,
            create_time,
            update_people,
            update_time,
            version
        )values
        (
            #{clientId},
            #{userId},
            #{storeInviteCode},
            0,
            #{createPeople},
            now(),
            #{updatePeople},
            now(),
            0
        )
    </insert>
<!--    查询轮播图-->
    <select id="listSlideshow" parameterType="com.xzsd.app.client.entity.SlideShowInfo" resultType="com.xzsd.app.client.entity.SlideShowInfo">
        select
            image_id    slideshowId,
            product_id  goodsId,
            image_url   slideshowUrl
        from t_sys_slideshow
        where is_deleted=0
        order by sort asc
    </select>
<!--    查询热门商品展示数量-->
    <select id="getNumber" resultType="java.lang.Integer">
          select
            number number
        from t_sys_number
    </select>
<!--    查询热门商品-->
    <select id="listGoodsHot" parameterType="java.lang.Integer" resultType="com.xzsd.app.client.entity.GoodsHotVO">
        select
        a.product_hot_id    goodsHotId,
        a.product_id        goodsId,
        b.product_name      goodsName,
        b.price             costPrice,
        b.price_now         inPrice,
        b.product_image     photoUrl
        from t_sys_product_hot a
        left join t_sys_product b on a.product_id=b.product_id
        where a.is_deleted=0
        order by a.hot_sort asc
        LIMIT 0,#{number}
    </select>
<!--    查询商品详情-->
    <select id="findGoodsById" parameterType="java.lang.String" resultType="com.xzsd.app.client.entity.GoodsDetialVo">
        select
            a.product_name    goodsName,
            a.product_idc     goodsIntroduction,
            a.price           costPrice,
            a.price_now       inPrice,
            a.sale_num        saleNum,
            a.product_image   photoUrl,
            b.store_id        storeId,
            b.store_name      storeName
        from
            t_sys_product a,
            t_sys_store b,
            t_sys_client c
        where a.product_id=#{goodsId} and c.user_id=#{userId}
        and b.invite_code=c.invite_code
    </select>
<!--    查询商品一级分类-->
    <select id="firstClassGoodsList" parameterType="com.xzsd.app.client.entity.GoodsFirstClassVO" resultType="com.xzsd.app.client.entity.GoodsFirstClassVO">
        select
            class_id classId,
            class_name className
        from  t_sys_product_class
        where is_deleted=0
        and   is_parent=0
    </select>

<!--    查询商品二级分类-->
    <select id="secondClassGoodsList" parameterType="java.lang.String" resultMap="goodsClassResultMap">
        SELECT
            a.class_id,
            a.class_name,
            b.product_id,
            b.product_name,
            b.price,
            b.price_now,
            b.product_image
        FROM
	        t_sys_product_class a left join
	        t_sys_product b on 	a.class_id=b.class_second_id
        WHERE
	        a.is_deleted = 0
	    AND a.is_parent =1
	    AND a.parent_class_code=#{parentClassCode}
    </select>
<!--    查询分类下的商品信息-->
    <resultMap id="goodsClassResultMap" type="com.xzsd.app.client.entity.GoodsSecondClassVO">
        <id column="class_id" property="classId"/>
        <result column="class_name" property="className"/>
<!--        一个分类下多个商品，使用collection映射-->
        <collection property="goodsList" ofType="com.xzsd.app.client.entity.GoodsVO">
            <id column="product_id" property="goodsId"/>
            <result column="product_name" property="goodsName"/>
            <result column="price" property="costPrice"/>
            <result column="price_now" property="inPrice"/>
            <result column="product_image" property="photoUrl"/>
        </collection>
    </resultMap>
<!--    获取登录用户详情-->
    <select id="loginDetails" parameterType="java.lang.String" resultType="com.xzsd.app.client.entity.LoginUserVO">
        select
            a.user_name   userName,
            a.user_image  userPhoto,
            c.store_id    storeId
        from
             t_sys_user a,
			 t_sys_client b,
			 t_sys_store c
        where user_code=#{currentUserId}
        and a.user_code=b.user_id
        and b.invite_code=c.invite_code
        and a.is_deleted=0 and role=3
    </select>
<!--    获取用户详情-->
    <select id="findUserById" parameterType="com.xzsd.app.client.entity.UserVO" resultType="com.xzsd.app.client.entity.UserVO">
        select
                user_pwd userPassword
        from
            t_sys_user
        where user_code=#{userId}
        and is_deleted=0
    </select>
<!--    修改密码-->
    <update id="updatePassword" parameterType="com.xzsd.app.client.entity.UserVO">
        update t_sys_user
        set
            user_pwd   = #{newPassword}
        where user_code=#{userId}
    </update>
<!--    统计店铺邀请码-->
    <select id="countInviteCode" parameterType="com.xzsd.app.client.entity.UserVO" resultType="int">
        select count(invite_code)
        from t_sys_store
        where invite_code=#{storeInviteCode}
        and is_deleted=0
    </select>
<!--    修改店铺邀请码-->
    <update id="updateStoreInviteCode" parameterType="java.lang.String">
        update t_sys_client
        set
            invite_code=#{storeInviteCode}
        where user_id=#{currentUserId}
    </update>
<!--    查询登录角色-->
    <select id="roleById" parameterType="com.xzsd.app.client.entity.RoleInfo" resultType="com.xzsd.app.client.entity.RoleInfo">
        select
          role role
        from t_sys_user
        where user_code=#{userId}
        and is_deleted=0
    </select>
</mapper>