<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.driver.dao.DriverDao">
<!--    查询司机个人信息详情-->
    <select id="findDriverById" parameterType="java.lang.String" resultType="com.xzsd.app.driver.entity.DriverPersonVO">
        select
            user_name   driverName,
            phone       driverPhone,
            user_image  userPhoto
        from
            t_sys_user
        where user_code=#{userId}
        and is_deleted=0
    </select>
<!--    查询司机负责门店信息-->
    <select id="findDriverStoreById" parameterType="com.xzsd.app.driver.entity.DriverStoreVO" resultType="com.xzsd.app.driver.entity.DriverStoreVO">
        SELECT
            a.user_name     managerName,
            a.phone         phone,
            b.store_name    storeName,
            b.store_num     storeCode,
            b.store_id      storeId,
            CONCAT_WS( '', c.dict_name, d.dict_name, e.dict_name, b.store_address ) AS address
        FROM
            t_sys_user a,
            t_sys_store b,
            dictionaries c,
            dictionaries d,
            dictionaries e,
            t_sys_driver f
        WHERE
            f.user_id = #{userId}
            AND f.area_id=b.area_id
			AND b.user_id=a.user_code
            AND b.provice_id = c.dictionaries_id
            AND b.city_id = d.dictionaries_id
            AND b.area_id = e.dictionaries_id
            AND a.is_deleted =0
    </select>
</mapper>