<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.app.store.dao.StoreDao">
    <!--查询店长个人信息-->
    <select id="storeByUserId" parameterType="com.xzsd.app.store.entity.StoreInfo" resultType="com.xzsd.app.store.entity.StoreInfo">
        SELECT
            a.user_name,
            a.user_image,
            b.store_name,
            b.invite_code,
            b.store_id,
            CONCAT_WS( '', c.dict_name, d.dict_name, e.dict_name, b.store_address ) AS address
        FROM
            t_sys_user a,
            t_sys_store b,
            dictionaries c,
            dictionaries d,
            dictionaries e
        WHERE
            a.user_code = #{userId}
            AND a.user_code = b.user_id
            AND b.provice_id = c.dictionaries_id
            AND b.city_id = d.dictionaries_id
            AND b.area_id = e.dictionaries_id
            AND a.is_deleted =0
    </select>
    <!--查询司机信息-->
    <select id="findDriver" parameterType="com.xzsd.app.store.entity.DriverInfo" resultType="com.xzsd.app.store.entity.DriverInfo">
        select
            a.user_name driverName,
            a.phone     driverPhone
        from
            t_sys_user a,
            t_sys_driver b,
            t_sys_store c
        where c.user_id=#{userId}
        and b.user_id=a.user_code
        and b.area_id=c.area_id
        and a.is_deleted=0
    </select>
    <!--查询本店订单列表-->
    <resultMap id="orderStoreMap" type="com.xzsd.app.store.entity.OrderVO">
        <id column="order_id" property="orderId"/>
        <result column="order_code" property="orderCode"/>
        <result column="order_price" property="countPrice"/>
        <result column="order_status" property="orderStatus"/>
        <result column="count" property="goodsNumber"/>
        <result column="user_name" property="userName"/>
        <result column="phone" property="userPhone"/>
        <collection property="goodsList" ofType="com.xzsd.app.clientorder.entity.OrderDetailVO" select="selectGood" column="order_id">
            <id column="order_clear_id" property="orderClearId"/>
            <result column="product_id" property="goodsId"/>
            <result column="product_name" property="goodsName"/>
            <result column="goods_count" property="goodsShoppingNumber"/>
            <result column="price_one" property="price"/>
            <result column="product_image" property="photoUrl"/>
        </collection>
    </resultMap>
    <select id="listStoreOrderByPage" parameterType="com.xzsd.app.store.entity.OrderVO" resultMap="orderStoreMap">
        SELECT
            a.order_id,
            a.order_code,
            a.order_price,
            a.order_status,
            a.count,
            b.user_name,
            b.phone
        FROM
            t_sys_order a,
            t_sys_user b
        WHERE
        a.store_id = #{storeId}
        AND a.user_code = b.user_code
        AND a.is_deleted =0
        <if test="orderStatus != null and orderStatus != ''">
            and a.order_status like concat('%', #{orderStatus}, '%')
        </if>
        order by a.paid_time desc
    </select>
    <select id="selectGood" parameterType="com.xzsd.app.clientorder.entity.OrderDetailVO" resultType="com.xzsd.app.clientorder.entity.OrderDetailVO">
        select
            a.order_clear_id orderClearId,
            a.product_id    goodsId,
            b.product_name  goodsName,
            a.goods_count   goodsShoppingNumber,
            a.price_one     price,
            b.product_image photoUrl
        from
            t_sys_order_detail a,
            t_sys_product b
        where
            a.order_id=#{orderId}
            and a.product_id=b.product_id
            and a.is_deleted=0
        order by a.update_time desc
    </select>
    <!--获取店长端订单详情-->
    <resultMap id="orderDetailMap" type="com.xzsd.app.store.entity.OrderStoreDetailVO">
        <id column="order_id" property="orderId"/>
        <result column="order_code" property="orderCode"/>
        <result column="order_price" property="countPrice"/>
        <result column="order_status" property="orderStatus"/>
        <result column="count" property="goodsNumber"/>
        <result column="paid_time" property="createTime"/>
        <result column="store_name" property="storeName"/>
        <result column="address" property="address"/>
        <result column="user_name" property="userName"/>
        <result column="phone" property="userPhone"/>
        <collection property="goodsList" ofType="com.xzsd.app.clientorder.entity.OrderDetailVO" select="selectOrderStore" column="order_id">
            <id column="order_clear_id" property="orderClearId"/>
            <result column="product_id" property="goodsId"/>
            <result column="product_name" property="goodsName"/>
            <result column="goods_count" property="goodsShoppingNumber"/>
            <result column="price_one" property="price"/>
            <result column="product_image" property="photoUrl"/>
        </collection>
    </resultMap>
    <select id="findOrderStore" parameterType="java.lang.String" resultMap="orderDetailMap">
        SELECT
            a.order_id,
            a.order_code,
            a.order_price,
            a.order_status,
            a.count,
            a.paid_time,
            CONCAT_WS( '', c.dict_name, d.dict_name, e.dict_name, b.store_address ) AS address,
            b.store_name,
            f.user_name,
            f.phone
        FROM
            t_sys_order a,
            t_sys_store b,
            dictionaries c,
            dictionaries d,
            dictionaries e,
            t_sys_user   f
        WHERE
            a.order_id = #{orderId}
            AND a.store_id = b.store_id
            AND a.user_code = f.user_code
            AND b.provice_id = c.dictionaries_id
            AND b.city_id = d.dictionaries_id
            AND b.area_id = e.dictionaries_id
            AND a.is_deleted =0
       </select>
    <select id="selectOrderStore" parameterType="com.xzsd.app.clientorder.entity.OrderDetailVO" resultType="com.xzsd.app.clientorder.entity.OrderDetailVO">
        select
            a.order_clear_id orderClearId,
            a.product_id    goodsId,
            b.product_name  goodsName,
            a.goods_count   goodsShoppingNumber,
            a.price_one     price,
            b.product_image photoUrl
        from
            t_sys_order_detail a,
            t_sys_product b
        where
            a.order_id=#{orderId}
            and a.product_id=b.product_id
            and a.is_deleted=0
        order by a.update_time desc
    </select>
    <!--店长修改订单状态-->
    <update id="updateShopStatus" parameterType="java.lang.String">
        update t_sys_order
        set
            order_status    =   #{orderStatus},
            update_people   =   #{userId}
        where order_id=#{orderId}
        and   is_deleted=0
    </update>
</mapper>