<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzsd.pc.goods.dao.GoodsDao">
    <!--统计isbn书号-->
    <select id="countIsbn" parameterType="com.xzsd.pc.goods.entity.GoodsInfo" resultType="int">
        select count(book_number)
        from t_sys_product
        where book_number=#{bookNumber}
        and is_deleted=0
    </select>
    <!--新增商品-->
    <insert id="addGoods" parameterType="com.xzsd.pc.goods.entity.GoodsInfo">
        insert into t_sys_product
        (product_id,
         product_code,
         product_name,
         product_image,
         press,
         author,
         price,
         stock,
         price_now,
         book_number,
         product_idc,
         message,
         product_status,
         class_first_id,
         class_second_id,
         sale_num,
         is_deleted,
         create_people,
         create_time,
         update_people,
         update_time,
         version)
        values
           (#{goodsId},
            #{goodsCode},
            #{goodsName},
            #{photoUrl},
            #{press},
            #{author},
            #{costPrice},
            #{store},
            #{inPrice},
            #{bookNumber},
            #{goodsIntroduction},
            #{adWords},
            2,
            #{classFirstId},
            #{classSecondId},
            #{saleNum},
            0,
            #{createBy},
            now(),
            #{lastModifiedBy},
            now(),
            0)
     </insert>
    <!--修改商品-->
    <update id="updateGoodsById" parameterType="com.xzsd.pc.goods.entity.GoodsInfo">
    update t_sys_product
    set
        product_name   = #{goodsName},
        class_first_id =#{classFirstId},
        class_second_id=#{classSecondId},
        product_image  = #{photoUrl},
        press          = #{press},
        author         = #{author},
        price          = #{costPrice},
        stock          = #{store},
        price_now      = #{inPrice},
        book_number    = #{bookNumber},
        product_idc    = #{goodsIntroduction},
        message        = #{adWords},
        update_people  = #{lastModifiedBy},
        update_time    = now(),
        version        = version+1
    where product_id  = #{goodsId}
        and version   = #{version}
   </update>
<!--统计热门商品里的商品id-->
    <select id="countHot" parameterType="com.xzsd.pc.goods.entity.GoodsInfo" resultType="int">
        select count(product_id)
        from
            t_sys_product_hot
        where product_id in
        <foreach item="item" index="index" collection="listId" open="(" separator="," close=")">
            #{item}
        </foreach>
        and is_deleted=0
    </select>
<!--统计轮播图里的商品id-->
    <select id="countSlideshow" parameterType="com.xzsd.pc.goods.entity.GoodsInfo" resultType="int">
        select count(product_id)
        from
            t_sys_slideshow
        where product_id in
        <foreach item="item" index="index" collection="listId" open="(" separator="," close=")">
            #{item}
        </foreach>
        and is_deleted=0
    </select>
    <!--删除商品-->
    <delete id="deleteGoods" parameterType="com.xzsd.pc.goods.entity.GoodsInfo">
        update t_sys_product
        set
            is_deleted = 1,
            update_time = now(),
            update_people =#{userId},
            version = version+1
        where product_id in
        <foreach item="item" index="index" collection="listId" open="(" separator="," close=")">
            #{item}
        </foreach>
        and is_deleted=0
    </delete>

    <!--获取商品详情-->
    <select id="findGoodsById" parameterType="java.lang.String" resultType="com.xzsd.pc.goods.entity.GoodsDetail">
        SELECT
            a.product_name goodsName,
            b.class_name classFirstName,
            c.class_name classSecondName,
            a.book_number bookNumber,
            a.message adWords,
            a.product_image photoUrl,
            a.press press,
            a.author author,
            a.price costPrice,
            a.stock store,
            a.price_now inPrice,
            a.product_idc goodsIntroduction
        FROM
            t_sys_product a
            LEFT JOIN t_sys_product_class b ON a.class_first_id = b.class_id
            LEFT JOIN t_sys_product_class c ON a.class_second_id = c.class_id
        WHERE
            a.product_id = #{goodsId}
            AND a.is_deleted = 0
    </select>
    <!--商品列表-->
    <select id="listGoodsByPage" parameterType="com.xzsd.pc.goods.entity.GoodsList" resultType="com.xzsd.pc.goods.entity.GoodsList">
        select
            a.product_id goodsId,
            a.class_first_id classFirstId,
            a.class_second_id classSecondId,
            a.product_name goodsName,
            a.message adWords,
            a.press press,
            a.author author,
            a.product_status goodsStatus,
            a.visitation     lookNumber,
            a.book_number    bookNumber,
            a.price          costPrice,
            a.price_now      inPrice,
            a.stock          store,
            a.update_time       upTime,
            a.version version
        from t_sys_product a
        where a.is_deleted=0
        <if test="goodsName != null and goodsName != ''">
        and a.product_name like concat('%', #{goodsName}, '%')
        </if>
        <if test="press != null and press != ''">
            and a.press like concat('%', #{press}, '%')
        </if>
        <if test="goodsStatus != null and goodsStatus != ''">
            and a.product_status like concat('%', #{goodsStatus}, '%')
        </if>
        <if test="author!= null and author!= ''">
            and a.author like concat('%', #{author}, '%')
        </if>
        <if test="adWords != null and adWords != ''">
            and a.message like concat('%', #{adWords}, '%')
        </if>
        order by update_time desc
    </select>

    <!--修改商品状态 0 下架 1 上架-->
    <update id="status" parameterType="java.lang.String">
    update t_sys_product
    set
        product_status = #{goodsStatus},
        update_time    = now(),
        update_people  = #{userId},
        version        = version+1
    where
        product_id  in
     <foreach item="item" index="index" collection="listId1" open="(" separator="," close=")">
        #{item}
     </foreach>
   </update>

    <!--商品一级分类列表-->
    <select id="firstClassGoodsList" parameterType="com.xzsd.pc.goods.entity.GoodsClass" resultType="com.xzsd.pc.goods.entity.GoodsClass">
        select
            a.class_id classId,
            a.class_name className
        from t_sys_product_class a
        where a.is_deleted=0
        and  a.is_parent=0
    </select>

    <!--商品二级分类列表-->
    <select id="secondClassGoodsList" parameterType="java.lang.String" resultType="com.xzsd.pc.goods.entity.GoodsClass">
        select
            class_id classId,
            class_name className
        from t_sys_product_class
        where parent_class_code=#{parentClassCode} and is_parent=1
    </select>

</mapper>